<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="site-menu">
      <input type="checkbox" id="site-menu-trigger" class="site-menu-trigger">
      <label for="site-menu-trigger" class="site-menu-icon" aria-label="Menu">&#9776;</label>
      <nav class="site-menu-panel">
        <a href="{{ "/" | relative_url }}">Home</a>
      </nav>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
